<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/images/favicon.png">
    
    <link rel="stylesheet" href="/css/auth.css" />
  </head>
  <body>
    <form id="loginForm">
      <div class="logo">Smart Job Tracker</div>

      <h2>Login</h2>

      <input type="email" id="email" placeholder="Enter Email" required />

      <input type="password" id="password" placeholder="Enter Password" required />

      <button type="submit">Login</button>

      <p>
        Don't have an account?
        <a href="/register">Register</a>
      </p>

      <p>
        Forgot Password?
        <a href="/forgot-password">Reset Here</a>
      </p>
    </form>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/js/login.js"></script>
  </body>
</html>
