<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile</title>

    <link rel="stylesheet" href="/css/profile.css" />
  </head>
  <body>
    <nav class="navbar">
      <div class="logo">Smart Job Tracker</div>

      <ul class="nav-links">
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/jobs">Jobs</a></li>
        <li><a href="/profile">Profile</a></li>
      </ul>

      <button id="logoutBtn">Logout</button>
    </nav>

    <div class="profile-card">
      <div class="avatar">A</div>

      <h2>My Profile</h2>

      <div class="profile-info">
        <div class="info-item">
          <strong>Name</strong>
          <span id="name"></span>
        </div>

        <div class="info-item">
          <strong>Email</strong>
          <span id="email"></span>
        </div>
      </div>

      <div class="profile-actions">
        <button class="edit-btn" id="editBtn">Edit Profile</button>

        <button class="change-password-btn" id="changePasswordBtn">
          Change Password
        </button>

        <button class="delete-btn" id="deleteAccountBtn">Delete Account</button>
      </div>
    </div>

    <div id="loader" class="loader-container">
      <div class="loader"></div>
    </div>

    <script src="/js/profile.js"></script>
  </body>
</html>
